.super-cont{
    border: 2px solid cadetblue;
    text-align: left;
    margin-bottom: 1px;
    width: 91%;
    margin: 0 auto;
    min-height: 10px;
    margin-bottom: 5px;
}

.super-without-cantDisfraces{
    color: red;
}

.super-without-alquilado{
    font-weight: bold;
}

